.c-r {
    color: red;
}
.ff-c {
    font-family: Courier;
}
.mb-0 {
    margin-bottom: 0;
}
a {
    color: #00f;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    background-color: #eee;
    margin: 0;
    font-family: Arial, sans-serif;
    word-wrap: break-word;
}
footer {
    background-color: #fff;
    margin-top: 10px;
}
header {
    background-color: #fff;
    margin-bottom: 10px;
}
h1 {
    margin: 0 0 16px 0;
}
input {
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 16px;
    outline: 0;
    padding: 5px;
}
    input[type=submit] {
        background-color: #eee;
        border-radius: 5px;
    }
    input[type=submit]:active {
        background-color: #fff;
    }
main .main-container {
    margin: 0 auto;
    max-width: 990px;
}
main .panel {
    background-color: #fff;
    padding: 10px;
}
    main .panel > :last-child {
        margin-bottom: 0;
    }
textarea {
    font-size: 16px;
    width: 90%;
    height: 300px;
    outline: 0;
    padding: 5px;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1010px) {
    .container {
        max-width: 990px;
        padding: 10px 0;
    }
    main .main-container.columns-2 {
        display: flex;
        justify-content: space-between;
    }
        main .main-container.columns-2 .column-1 {
            width: 680px;
        }
        main .main-container.columns-2 .column-2 {
            width: 300px;
        }
}

@media screen and (max-width: 1009px) {
    .container {
        padding: 10px;
    }
    main .main-container.columns-2 {
    }
        main .main-container.columns-2 .column-1 {
            width: 100%;
            margin-bottom: 10px;
        }
        main .main-container.columns-2 .column-2 {
            width: 100%;
        }
}
